* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif;
  background: #e5e5e5;
}

main.main-bx {
  width: 375px;
  margin: auto;
}

h1.intro-title-bx {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-left: 20px;
  padding-top: 56px;
}

/* Section One: headlines */
header nav ul {
  position: relative;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 45px;
  left: 24px;
  top: 30px;
  bottom: 38px;
}

.logo a {
  text-decoration: none;
}

header.head-logo-bx {
  width: 375px;
  background: white;
}

.headlines {
  border-radius: 0 0 0 75px;
  position: relative;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  background: #fff;
  width: 375px;
  height: 718px;
  top: 0;
  margin-bottom: 114px;
  background-image: url(../images/header-shapes\ mobile@2x.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.introduction {
  padding-top: 29px;
}

/* main {
  background-image: url(../images/header-shapes\ mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 462px 587px;
  width: 100%;
} */

/* Title description part of the portfolio */

.title {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-top: 60px;
}

.text {
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 12px;
  width: 327px;
  height: 146px;
  margin-left: 24px;
  margin-right: 24px;
}

.connect {
  padding-top: 20px;
  margin-top: 12px;
  margin-bottom: 15.03px;
}

.connect a {
  width: 117px;
  height: 24px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #7f8cff;
  text-decoration: none;
  margin-left: 24px;
  margin-right: 24px;
}

.social-media ul {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-left: 24px;
  margin-right: 24px;
}

.languages li {
  background: #ebebff;
  border-radius: 8px;
  letter-spacing: 0.03em;
  padding: 4px 12px 4px 12px;
  color: #6070ff;
  text-align: center;
  width: 295px;
  height: 25px;
  margin-left: 0 !important;
}

.languages-p li {
  color: #000;
  border-radius: nullpx;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  list-style-type: none;
  padding-bottom: 10px;
}

.languages-list li {
  left: 76px;
  right: 12px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #253858;
  padding: 8px 12px 21px 0;
  list-style-type: none;
}

.social-media ul li {
  list-style-type: none;
  padding-right: 10px;
}

.twitter-logo {
  width: 19.99px;
  height: 19.99px;
}

.linkedin-logo {
  width: 12.71px;
  height: 16.97px;
}

.medium-logo {
  width: 20px;
  height: 16px;
}

.github-logo {
  width: 17.99px;
  height: 20px;
}

.angellist-logo {
  width: 14.17px;
  height: 20px;
}

.menu {
  display: flex;
  width: 117px;
  height: 24px;
  align-items: center;
  padding-right: 30px;
}

/* Section Two: Works */
.main-container {
  display: grid;
  grid-template-columns: 100%;
  width: 375px;
}

.details {
  margin-bottom: 88px;
  margin-left: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 592px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

/* card1 elements */

.snapshot {
  width: 295px;
  height: 220px;
  margin: 16px 16px 0 16px;
}

.tonic {
  margin: 12px 16px 12px 16px;
  width: 295px;
  height: 36px;
  font-family: "poppins", sans-serif;
  font-style: normal;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
  color: #172b4d;
}

.details ul {
  display: flex;
  flex-direction: row;
  width: 295px;
  height: 25px;
}

.details ul li {
  margin: 12px;
}

.canopy {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  list-style-type: none;
  margin-left: 0 !important;
}

.back-end {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.year {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.descriptive-paragraph {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  width: 295px;
  height: 76px;
}

.languages {
  list-style-type: none;
}

.html-language {
  width: 53px;
  height: 24px;
  padding: 4px 12px;
}

.css-language {
  width: 45px;
  height: 24px;
  padding: 4px 12px;
}

.javaScript-language {
  width: 45px;
  height: 24px;
  padding: 4px 12px;
}

.project-btn {
  width: 100%;
}

.details-button {
  box-sizing: border-box;
  padding: 12px;
  width: 124px;
  height: 48px;
  margin-top: 16px;
  border: 1px solid #6070ff;
  border-radius: 8px;
}

.details-button:hover {
  background-color: #6070ff;
  color: white;
}

.details-button:active {
  background-color: white;
  color: #6070ff;
}

button {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 0;
  background: #fff;
}

.details-button:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.details-button:focus {
  background-color: #6070ff;
  color: white;
}

/* Section Three: About Myself */

.about-myself {
  width: 375px;
  height: 1263px;
}

.introduction-about-bx {
  width: 327px;
  background: white;
  margin: auto;
  border-top-right-radius: 80px;
  padding: 20px;
  line-height: 24px;
  font-weight: 400;
  font-size: 16px;
}

.btn-resume {
  padding-left: 20px;
}

.resume-button {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  width: 162px;
  height: 48px;
  margin-top: 16px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  left: 0;
}

.btn-resume button:hover {
  background-color: #6070ff;
  color: white;
  cursor: pointer;
  opacity: 0.8;
}

.btn-resume button:focus {
  background-color: #6070ff;
  color: white;
}

.languages-p {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}

.drop-down {
  width: 24px;
  height: 16px;
  margin-left: 149px;
}

.arrow-pointers {
  width: 24px;
  height: 16px;
  margin-left: 159px;
}

.languages-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 25px;
  padding-top: 10px;
}

.js-logo {
  width: 48px;
  height: 48px;
  border-radius: 1px solid #fff;
  margin-right: 16px;
  margin-left: 12px;
}

hr {
  width: 100%;
}
